parameters:
    phpVersion: 80000
    level: 8

    scanFiles:
        - stubs/Twig.stub

    paths:
        - src

    ignoreErrors:
        - identifier: trait.unused
          path: src/Model/Traits

    checkNullables: true
    checkUninitializedProperties: true

    checkDynamicProperties: false
    treatPhpDocTypesAsCertain: false
